* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

button {
	border: none;
	cursor: pointer;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header {
  display: flex;
  width: 100%;
  min-height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 200ms ease;
}

.header:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.header-container {
  display: flex;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}

.logo {
  margin: 0;
  margin-right: auto;
  font-size: 40px;
  cursor: default;
}

.logo span {
  margin-right: 2px;
  color: rgb(31, 31, 31);
  transition-property: color, filter;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.logo span:hover {
  color: rgb(0, 146, 214);
  filter: drop-shadow(0 0 1px rgba(0, 146, 214, 0.5));
}

.auth {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(31, 31, 31);
  background-color: white;
  text-decoration: none;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.auth:hover {
  color: white;
  background-color: rgb(31, 31, 31);
}

.auth-success {
  font-size: 20px;
  font-weight: 600;
  color: rgb(31, 31, 31);
  cursor: default;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
  padding: 50px 100px;
}

.photos-list {
	display: flex;
	flex-wrap: wrap;
}

.photos-list__photo {
	width: 30%;
	margin-bottom: 50px;
	background-color: rgba(0, 0, 0, 0.3);
}

.photos-list__photo:not(:nth-child(3n)) {
	margin-right: 5%;
}

.btn {
	width: 150px;
	height: 50px;
	border: 1px solid black;
	border-radius: 25px;
	font-weight: 600;
	background-color: rgba(250, 150, 0, 0.8);
	transition-property: background-color, border-color, color;
	transition-duration: 200ms;
	transition-timing-function: ease;
}

.btn:hover {
	border-color: rgba(250, 150, 0, 0.5);
	color: rgb(250, 150, 0);
	background-color: black;
}
